<a href="https://colab.research.google.com/github/Murtadho11/tugas/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Simpan sebuah dictionary yang kamu buat ! Lalu cetak dictionary

In [7]:
data1 = {'NIK' : '1990012',
        'Nama': 'Anisa',
        'Jenis Kelamin' : 'p',
        'Alamat' : 'Surabaya',
        'Divisi' : 'Machinery',
        'Jabatan' : 'Manager',
        'Gaji' : '11.000.000'}
        
data2 = {'NIK' : '2001207',
        'Nama': 'Budi',
        'Jenis Kelamin' : 'L',
        'Alamat' : 'cibubur',
        'Divisi' : 'Machinery',
        'Jabatan' : 'Staff',
        'Gaji' : '8.500.000'}

data3 = {'NIK' : '2002019',
        'Nama': 'Clara',
        'Jenis Kelamin' : 'P',
        'Alamat' : 'Depok',
        'Divisi' : 'Compressor',
        'Jabatan' : 'Staff',
        'Gaji' : '7.000.000'}

data4 = {'NIK' : '2002081',
        'Nama': 'Rista',
        'Jenis Kelamin' : 'P',
        'Alamat' : 'Bogor',
        'Divisi' : 'QC',
        'Jabatan' : 'Staff',
        'Gaji' : '6.500.000'}

data5 = {'NIK' : '2005099',
        'Nama': 'Riani',
        'Jenis Kelamin' : 'P',
        'Alamat' : 'Bekasi',
        'Divisi' : 'QC',
        'Jabatan' : 'Operator',
        'Gaji' : '6.000.000'}

data6 = {'NIK' : '2006003',
        'Nama': 'Andi',
        'Jenis Kelamin' : 'L',
        'Alamat' : 'Karawang',
        'Divisi' : 'Compressor',
        'Jabatan' : 'Operator',
        'Gaji' : '6.500.000'}

data7 = {'NIK' : '2006104',
        'Nama': 'dika',
        'Jenis Kelamin' : 'L',
        'Alamat' : 'Tanggerang',
        'Divisi' : 'Compressor',
        'Jabatan' : 'staf',
        'Gaji' : '4.500.000'}

data8 = {'NIK' : '2008160',
        'Nama': 'Endah',
        'Jenis Kelamin' : 'P',
        'Alamat' : 'jakarta',
        'Divisi' : 'Machinery',
        'Jabatan' : 'Operator',
        'Gaji' : '5.000.000'}

print('\n', data1, '\n',
      data2, '\n',
      data3, '\n',
      data4, '\n',
      data5, '\n',
      data6, '\n',
      data7, '\n',
      data8)

 {'NIK': '1990012', 'Nama': 'Anisa', 'Jenis Kelamin': 'p', 'Alamat': 'Surabaya', 'Divisi': 'Machinery', 'Jabatan': 'Manager', 'Gaji': '11.000.000'}
 {'NIK': '2001207', 'Nama': 'Budi', 'Jenis Kelamin': 'L', 'Alamat': 'cibubur', 'Divisi': 'Machinery', 'Jabatan': 'Staff', 'Gaji': '8.500.000'}
 {'NIK': '2002019', 'Nama': 'Clara', 'Jenis Kelamin': 'P', 'Alamat': 'Depok', 'Divisi': 'Compressor', 'Jabatan': 'Staff', 'Gaji': '7.000.000'}
 {'NIK': '2002081', 'Nama': 'Rista', 'Jenis Kelamin': 'P', 'Alamat': 'Bogor', 'Divisi': 'QC', 'Jabatan': 'Staff', 'Gaji': '6.500.000'}
 {'NIK': '2005099', 'Nama': 'Riani', 'Jenis Kelamin': 'P', 'Alamat': 'Bekasi', 'Divisi': 'QC', 'Jabatan': 'Operator', 'Gaji': '6.000.000'}
 {'NIK': '2006003', 'Nama': 'Andi', 'Jenis Kelamin': 'L', 'Alamat': 'Karawang', 'Divisi': 'Compressor', 'Jabatan': 'Operator', 'Gaji': '6.500.000'}
 {'NIK': '2006104', 'Nama': 'dika', 'Jenis Kelamin': 'L', 'Alamat': 'Tanggerang', 'Divisi': 'Compressor', 'Jabatan': 'staf', 'Gaji': '4.500.000'}
 {'NIK': '2008160', 'Nama': 'Endah', 'Jenis Kelamin': 'P', 'Alamat': 'jakarta', 'Divisi': 'Machinery', 'Jabatan': 'Operator', 'Gaji': '5.000.000'}

In [2]:
import numpy as np
A = np.array([[1,2],
              [4,5],
              [7,8]])
print(A, '\n')

print(A[2:3, 0:1], A[2:3, 1:2])

[[1 2]
 [4 5]
 [7 8]]

[[7]] [[8]]

In [3]:
import numpy as np
A = np.array([[1,6,9],
              [2,5,8]])
print(A, '\n')

print(A[0:1, 1:2])
print(A[1:2, 1:2])

[[1 6 9]
 [2 5 8]]

[[6]]
[[5]]

In [4]:
import numpy as np
A = np.array([[4,3,8],
              [7,2,5],
              [6,1,9]])
print(A, '\n')

print("a")

print(A[1:2, 1:2])
print(A[2:3, 1:2], '\n')

print("b")

print(A[0:1, 1:2], A[0:1, 2:3])

[[4 3 8]
 [7 2 5]
 [6 1 9]]

a
[[2]]
[[1]]

b
[[3]] [[8]]

In [5]:
import numpy as np
A = np.array([[23,35,93,87],
              [92,44,11,83],
              [40,12,46,28],
              [73,67,65,32]])
print(A, '\n')

print("a")

print(A[1:2, 1:2], A[1:2, 2:3], A[1:2, 3:4], '\n')

print("b")

print(A[2:3, 1:2], A[2:3, 2:3])
print(A[3:4, 1:2], A[3:4, 2:3], '\n')

print("c")

print(A[1:2, 1:2], A[1:2, 2:3], A[1:2, 3:4])
print(A[2:3, 1:2], A[2:3, 2:3], A[2:3, 3:4])
print(A[3:4, 1:2], A[3:4, 2:3], A[3:4, 3:4], '\n')

print("d")

print(A[1:2, 0:1], A[1:2, 1:2])
print(A[2:3, 0:1], A[2:3, 1:2], '\n')

print("e")

print(A[0:1, 0:1], A[0:1, 1:2], A[0:1, 2:3])
print(A[1:2, 0:1], A[1:2, 1:2], A[1:2, 2:3])
print(A[2:3, 0:1], A[2:3, 1:2], A[2:3, 2:3], '\n')

print("f")

print(A[1:2, 1:2])
print(A[2:3, 1:2])
print(A[3:4, 1:2])

[[23 35 93 87]
 [92 44 11 83]
 [40 12 46 28]
 [73 67 65 32]]

a
[[44]] [[11]] [[83]]

b
[[12]] [[46]]
[[67]] [[65]]

c
[[44]] [[11]] [[83]]
[[12]] [[46]] [[28]]
[[67]] [[65]] [[32]]

d
[[92]] [[44]]
[[40]] [[12]]

e
[[23]] [[35]] [[93]]
[[92]] [[44]] [[11]]
[[40]] [[12]] [[46]]

f
[[44]]
[[12]]
[[67]]